.env
server/node_modules
*/logs/
*.log
*secret*
application/data/
mysql/data/
.idea
_build
cover
deps
doc
erl_crash.dump
*.ez
rel/
.local.tunnels
percona-xtradb-cluster-operator/
.terraform/
*.tfstate*
*.lock*
kube.inventory
